body {
    font-family: sans-serif;
}

#kanji-results {
    white-space:nowrap;
    overflow-x:scroll;
}

.no-select {
    user-select: none;
}

#skip-part-2 > input[type="number"],
#skip-part-3 > input[type="number"] {
    width: 5em;
}
